.rich-text {
  color: #666666;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rich-text hr{
  border-color: #666666;
}

.rich-text p, 
.rich-text h1, 
.rich-text h2, 
.rich-text h3, 
.rich-text img, 
.rich-text hr, 
.rich-text ul {
  margin: 0 0 20px 0;
}

.rich-text ul {
  padding-left: 1.5em;
  list-style: disc;
}

.rich-text a {
  color: #B3B3B3;
  text-decoration: none;
}

.rich-text a:hover {
  text-decoration: underline;
}

.rich-text img {
  border-radius: 8px;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.rich-text h1 {
  @apply text-xl font-xl leading-xl
}

.rich-text h2 {
  @apply text-l font-l leading-l
}

.rich-text h3 {
  @apply text-m font-m leading-m
}