.rich-text {
  color: #666666;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  @apply font-xl text-BLACK;
}

.rich-text h2 {
  @apply text-l-mobile;
}

.rich-text h3 {
  @apply text-[24px];
}

.rich-text h4 {
  @apply text-[20px];
}

.rich-text h5 {
  @apply text-[18px];
}


.rich-text p,
.rich-text span,
.rich-text a,
.rich-text li,
.rich-text ul,
.rich-text strong {
  @apply font-s;
}

.rich-text a:hover {
  text-decoration: underline;
}

.rich-text a {
  color: #B3B3B3;
  text-decoration: none;
}

.rich-text ul {
  padding-left: 1.5em;
  list-style: disc;
}

.rich-text p, ul {
  margin: 0 0 16px 0;
}

