.rich-text {
  color: #666666;
  h1, h2, h3, h4, h5, h6 {
    @apply font-xl text-BLACK;
  }

  h2 {
    @apply text-l-mobile;
  }

  h3 {
    @apply text-[24px];
  }

  p, span, a, li, ul, strong {
    @apply font-s;
  }

  a:hover {
    text-decoration: underline;
  }

  a {
    color: #B3B3B3;
    text-decoration: none;
  }

  ul {
    padding-left: 1.5em;
    list-style: disc;
  }

  p, ul {
    margin: 0 0 16px 0;
  }
}

